body {
    font-family:Helvetica, Arial, sans-serif;
    background:url(../img/bg/lowpolybg.png) center top repeat-x #fff;
  
}
.mn-top {
    background:#222;
    padding:100px 0;
}
#mn-top-con .mn-menuback {
    background:rgba(20,20,20,0.7); 
}
.mn-top .block-search .uk-nav-header {
    padding-left:0;
}
.mn-toggle {
    background:#222;
    color:#aaa;
    border:0;
    border-radius:0;
    text-shadow:none;
}
.mn-toggle:active, .mn-toggle:focus {
    background:#222;
    color:#aaa;
}
.mn-toggle:hover {
    color:#bbb;
    background:#222;
}

.mn-left-divider {
  /*  border-left:1px solid #555; */
    margin-left:-1px;
}
.mn-branding {
	text-transform:uppercase;
    font-weight:100;
    line-height:1.1em;
    font-size:25px;
    font-family:Helvetica, Arial, sans-serif;
    color:#222;
    height:auto;
    text-align:center;
	padding-left:2em;
	padding-right:2em;
    
}
.mn-branding a {
	color:#222;
	margin:.5em 0;
	display:inline-block;
}
.mn-branding .site-slogan {
	font-size:13px;
	
}
.uk-breadcrumb {
    background:transparent;
    border-radius:0;
   
    padding-left:0;
    padding-bottom:5px;
}
h1.page-title {
    border-bottom:1px solid #222;
    padding-bottom:10px;
}
.uk-back-black {
    background:#222;
}

.uk-contrast .uk-nav-side > li > a {
	color:#999;
}




@media only screen and (min-width: 768px) {
h1.page-title {
    border-bottom:1px solid #222;
	padding-left:40%;
    padding-bottom:10px;
}

.articlecontent article p, .articlecontent article .node__meta {
    margin-left:40%;
    line-height:25px;
}
.articlecontent article .node__meta {
    font-style:italic;
}
.articlecontent article h2 {
    margin-left:40%
}
.articlecontent article form {
    margin-left:40%;
}
.articlecontent .node__submitted {
    background:#f7f7f7;
    padding:5px;
    margin-bottom:15px;
}
.articlecontent article h3, .articlecontent article h4, .articlecontent article h5, .articlecontent article h6 {
    position:absolute;
    margin-right: 65%;
    margin-top:0;
    border-bottom:1px solid #ddd;
    padding-bottom:.5em;
    line-height:25px;
}
.articlecontent article p {
/*	background:url(../img/25.png) top left repeat; */
}

}