{# Attaches search component javascript and css to template #}
{{ attach_library('uikitty/search') }}

<div class="mn-top uk-hidden uk-contrast" id="mn-top-con">
    <div class="uk-container uk-container-center">
        <div class="uk-grid uk-grid-match" data-uk-grid-match="{target:'.mn-menuback'}">
           {{ page.top }}
        </div>
    </div>
</div>
<div class="mn-header">
    <div class="uk-container uk-container-center">
        <div class="uk-grid uk-grid-collapse">
            <div class="uk-width-medium-4-10 uk-hidden-small">
                <div class="mn-top-toggler">
                    <div class="uk-container uk-container-center">
                        <button class="uk-button mn-toggle" data-uk-toggle="{target:'#mn-top-con', animation:'uk-animation-slide-top'}">Navigate <i class="uk-icon-angle-double-down"></i></button>
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-6-10">
                <div class="uk-block">
                    <div class="uk-panel mn-left-divider">
                        {{ page.branding }}
                        {{ site_slogan }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% if page.highlighted %}
            {{ page.highlighted }}
{% endif %}